mqtt:
  host: 10.10.10.1
  port: 1883
  username: mqtt
  password: password
  qos: 0
  prefix: amcrest2mqtt
  homeassistant: True
  discovery_prefix: homeassistant
  tls_enabled: False
  tls_ca_cert: filename
  tls_cert: filename
  tls_key: filename

amcrest:
  hosts:
    - 10.10.10.20
    - camera2.local
  names:
    - camera.front
    - camera.patio
  port: 80
  username: admin
  password: password
  storage_update_interval: 900
  snapshot_update_interval: 60
  webrtc:
    host: webrtc.local
    port: 1984
    sources:
      - FrontYard
      - Patio

timezone: America/New_York
hide_ts: False
