mqtt:
  host: 10.10.10.1
  port: 1883
  username: mqtt
  password: password
  qos: 0
  protocol_version: "5"  # MQTT protocol version: 3.1.1/3 or 5 (with or without quotes, default: 5)
  prefix: amcrest2mqtt
  discovery_prefix: homeassistant
  tls_enabled: False
  tls_ca_cert: filename
  tls_cert: filename
  tls_key: filename

amcrest:
  hosts:
    - 10.10.10.20
    - camera2.local
  names:
    - camera.front
    - camera.patio
  port: 80
  username: admin
  password: password
  storage_update_interval: 900
  snapshot_update_interval: 60
  webrtc:
    host: webrtc.local
    port: 1984
    sources:
      - FrontYard
      - Patio

media:
  path: /media
  max_size: 25 # per recording, in MB; default is 25
  retention_days: 7 # days to keep recordings; 0 = disabled; default is 7
  media_source: media-source://media_source/local/videos
